* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    flex-wrap: wrap;
}

hr {
    border-top: 0.01rem solid rgb(209, 209, 209);
}

#l-l {
    padding: 1rem 1rem;
    font-size: 0.68rem;
    font-weight: bold;
    color:rgb(88, 88, 88);
    font-style: italic;
}

#logo img {
    height: 90px;
    margin-right: 0.6rem;
}

#descrição {
    padding: 0.5rem 0.4rem;
    padding-bottom: 0.0001rem;
}

#l-p {
    text-align: center;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#nome2 {
    text-decoration: underline;
    padding-top: 0.5rem;
    font-size: 20px;
}

#nome3 {
    font-style: italic;
    padding-top: 0.2rem;
}

#nome4 {
    padding-top: 0.2rem;
    font-size: 16px;
    padding-bottom: 0.8rem;
}

#informe {
    padding-bottom: 0.8rem;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.cartao img {
    height: 25px;
    border: 2px solid #ccc;
    padding: 0.1rem;
}

.span-required {
    display: none;
}

.dados1 input {
    width: 300px;
    padding: 10px;
    outline: none;
    font-size: 1rem;
}

#numero {
    width: 390px;
    margin-top: 1rem;
}

#data {
    width: 192px;
    margin-top: 1rem;
}

#cvv {
    width: 192px;
    margin-top: 1rem;
}

#nome {
    width: 390px;
    margin-top: 1rem;
}

.falas {
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    color: rgb(97, 97, 97);
}

#opp_inputs {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
}
.radio-container {
    margin-top: 0.5rem;
    padding-top: 0.8rem;
    color: rgb(66, 66, 66);
}

.form-control[type="radio"] {
    accent-color: #000000;
}

#fala1 {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#fala2 {
    padding-top: 0.1rem;
    padding-bottom: 2rem;
    color: rgb(53, 53, 53);
    font-style: italic;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
}

#l-c {
    padding: 1rem 1rem;
    padding-top: 0.85rem;
    font-size: 0.75rem;
    text-align: right;
    background-color: rgb(248, 248, 248);
}

#confi1 {
    padding-top: 0.15rem;
    color: #5a5a5a;
}

#confi2 {
    padding-top: 0.15rem;
    font-size: 0.8rem;
    font-style: italic;
    color: #5a5a5a;
}

.seloseguro img {
    height: 50px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    width: 350px;
    transition: background-color 0.4s ease-in-out;
}

button:hover {
    background-color: rgb(28, 99, 0);
}

@media (max-width: 450px) {

    #logo img {
        height: 70px;
    }

    #l-l {
        font-size: 0.5rem;
    }

    #l-c {
        font-size: 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        text-align: left;
    }

    #confi2 {
        font-size: 0.5rem;
    }

    .seloseguro img {
        height: 30px;
    }

}

@media (max-width: 390px) {

    #informe {
        padding-bottom: 0.8rem;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    #numero {
        width: 300px;
        margin-top: 1rem;
    }
    
    #data {
        width: 147px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    #cvv {
        width: 147px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    #nome {
        width: 300px;
        margin-bottom: 0.5rem;
    }

    button {
        width: 300px;
    }
}



